.social-icon{
    display: flex;
    width: 60px;
    height: 300px;
    gap: 15px;
    margin-top: 15px;
    color: #fff;
    
}




.social-icon a{
    
    width: 50px;
    height: 30px;
  }
  
  .social-icon  i {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    color: #fff;
  }


  .social-icon  i:hover{
    transform: scale(1.3);
  }
  
  .bi-instagram {
    background-color: rgb(151, 30, 50);
    background: linear-gradient(
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d,
      #f56040,
      #ffdc80
    );
  
    
  }
  
  .bi-facebook {
    background-color: #03387d;
  
   
  }
  
  .bi-linkedin {
    background-color: #03387d;
  
    
  }
  
  .bi-whatsapp {
    background-color: green;
   
  }
  
  .bi-github{
    background-color: grey;
    width: 25px;
   
  }
  
  .bi-envelope-arrow-down-fill{
    background: linear-gradient(pink, red);
    
  }





  .custom-cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, background-color 0.2s ease;
    z-index: 9999;
    background-color: white;
  }
  
  .cursor-default {
    width: 20px;
    height: 20px;
   border: 2px solid white;
  }
  
  .cursor-button {
    width: 60px;
    height: 60px;
    background-color: white; /* Red for buttons */
    color: black;
  }
  
  .cursor-paragraph {
    width: 50px;
    height: 50px;
    background-color:white; /* Green for paragraphs */
  }
  
  .cursor-heading {
    width: 80px;
    height: 80px;
    background-color: white; /* Blue for headings */
    color: black;
  }
  