
.education{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30PX;
    align-items: center;
    margin: 50px auto;
    color: #fff;
}


.education-heading{
    width: 80%;
    font-size: 30px;
    font-size: 40px;
    background: linear-gradient(270deg,#df8908 90%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px 50px;
}


.timeline{
    position: relative;
    max-width: 80%;
    margin: 70px auto;
    color: black;
}


.container{
    position: relative;
    padding: 10px 50px;
    width: 50%;
    animation: movedown 1s linear forwards;  
    opacity: 0;
    
}


@keyframes movedown{
    0%{
     opacity: 1;
     transform: translate(-30px);
    }

    100%{
        opacity: 1;
        transform: translate(0px);
    }
}



.container:nth-child(1){
    animation-delay: 0s;
}


.container:nth-child(2){
    animation-delay: 1s; 
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;
    font-size: 17px;
    position: relative;
    border-radius: 6px;
    color: black;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:darkslategrey;
    color: #fff;
}

.text-content h2{
    margin-bottom: 10px;
    color: #fff;
    
}


.text-box small{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}


.text-box small p{
    font-weight: 700;
    color: #fff;
}


.left-container{
    left: 0;
}


.right-container{
   left: 50%;
}


.container span{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    right: -9px;
    top: 40%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
}


.right-container span{
    left: -12px;
}




.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 50%;
    background-color: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}



@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}


.left-container-arrow{
    width: 0;
    height: 0;
    position: absolute;
    top: 36%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}



.right-container-arrow{
    width: 0;
    height: 0;
    position: absolute;
    top: 36%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}